.advantages {
    margin: 270px auto 0;
    margin: 270px auto 50px;
	max-width: 943px;
	text-align: center;

	@media (min-width:2350px) {
		margin-bottom: 270px;
		margin-top: 135px;
	}
	
	@media (min-width: 2100px) {
		max-width: 1200px;
		width: 100%;
	}

	@media (min-width:1590px) {
		margin: 0 auto;
		margin-bottom: 200px;
		margin-top: 80px;
		color: white;
	}

	@media (max-width:1300px) {
		margin: 205px auto 50px;
	}

	@media (max-width:650px) {
		margin-top: 145px;
	}

	@media (max-width:400px) {
		margin-top: 218px;
	}

	.advantages__title {
		font-weight: 400;
		font-size: 36px;
		line-height: 41px;

		@media (min-width: 2100px) {
			font-size: 46px;
			line-height: 51px;
		}

		@media (max-width:700px) {
			font-size: 26px;
			line-height: 30px;
		}
	}

	.advantages__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		list-style: none;
		column-gap: 80px;
		row-gap: 41px;
		padding: 0;

		@media (min-width: 2100px) {
			width: 100%;
		}

		@media (max-width: 1300px) {
			justify-content: center;
		}

		.advantages__point {
			text-align: start;
			font-size: 16px;
			line-height: 18px;
			position: relative;

			@media (min-width: 2100px) {
				max-width: 330px;
			}

			@media (max-width: 900px) {
				max-width: 250px;
			}

			@media (max-width: 900px) {
				margin-left: 30px;
			}

			@media (min-width: 2100px) {
				font-size: 23px;
				line-height: 27px;
			}
		}

		
	}


}

.advantages__point--first {
	max-width: 270px;
    padding: 20px 0px 25px 85px;
}

.advantages__point--second {
	max-width: 291px;
    padding: 20px 0px 25px 75px;
}

.advantages__point--third {
	max-width: 222px;
    padding: 20px 0px 25px 63px;
}


.advantages__point--first::before {
    content: "";
    width: 70px;
    height: 38px;
	position: absolute;
    left: 0;
    top: 27%;
    background-image: url(../img/svg/delivery.svg);
    background-repeat: no-repeat;

	@media (min-width: 1590px) {
		background-image: url(../img/svg/delivery-recolor.svg);
	}
}

.advantages__point--second::before {
    content: "";
    width: 60px;
    height: 60px;
	position: absolute;
    left: 0px;
    top: 18%;
    background-image: url(../img/svg/candy.svg);
    background-repeat: no-repeat;

	@media (min-width: 1590px) {
		background-image: url(../img/svg/candy-recolor.svg);
	}
}

.advantages__point--third::before {
    content: "";
    width: 48.15px;
    height: 50px;
	position: absolute;
    left: 0;
    top: 26%;
    background-image: url(../img/svg/gift.svg);
    background-repeat: no-repeat;

	@media (min-width: 1590px) {
		background-image: url(../img/svg/gift-recolor.svg);
	}
}