.header {
  display: flex;
  align-items: center;
  min-height: 100px;
  padding: 16px 83px 16px 75px;

  background-color: $white;

  @media(max-width: 1350px) {
    padding: 16px 40px 16px 20px;
  }

  &__wrapper {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media(max-width: 1050px) {
      justify-content: center;
      position: static;
    }
  }

  a,
  p {
    color: $white;
  }

  .main-nav {
    width: 100%;

    @media(max-width: 1050px) {
      width: auto;
    }
  }

  ul {
    display: flex;
    margin: 0px 0px 0 95px;
    padding: 0;
    gap: 79px;

    list-style: none;

    @media(max-width: 1350px) {
      gap: 30px;
      margin-right: 0;
    }

    @media(max-width: 1050px) {
      display: block;
      margin: 0 0 58px 0;
    }

    li {
      margin-right: 20px;
      
      a {
        color: $black;
        font-size: 18px;
        line-height: 21px;
      }

      @media(max-width: 1050px) {
        margin-bottom: 30px;
      }
    }

  }

  .main-nav__toggle {
    display: none;
    z-index: 11;

    @media(max-width: 1050px) {
      display: block;
      background-image: url(../img/svg/burger.svg);
      background-repeat: no-repeat;
      width: 27px;
      height: 21px;
      position: fixed;
      right: 20px;
      top: 50px;
      transition: all 0.7s;
    }
  }

  button.main-nav__toggle--opened {
    @media(max-width: 1050px) {
      background-image: url(../img/svg/burger-opened.svg);
      transition: all 0.7s;
    }
  }

  .header__phone {
    color: $red;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
  }

  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;

    @media(max-width: 1050px) {
      display: block;
      position: fixed;
      padding: 40px 0 43px 0;
      top: -100%;
      left: 0;
      width: 100%;
      text-align: center;
      background-color: #fff;
      box-shadow: 0px 0px 11.6667px -3.5px rgba(0, 0, 0, 0.25);
      transition: all 0.7s;
    }
  }

  div.main-nav__wrapper--opened {
    @media(max-width: 1050px) {
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 10;
      transition: all 0.7s;
    }
  }
}

