.work {
    margin: 0 auto;
	padding: 194px 0 275px 0;
	position: relative;
	max-width: 1440px;
	text-align: center;
	background-image: url(../img/bg/work.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 740px;
	
	@media (max-width: 1300px) {
		background-image: url(../img/bg/work768.jpg);
	}

	@media (max-width: 700px) {
		background-image: url(../img/bg/work360.jpg);
	}

	@media (max-width: 545px) {
		padding: 45px 0 108px;
	}
}


.work__background {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: -1;
}

.work__img {
	width: 100%;
}

.work__title {
	font-weight: 400;
	font-size: 36px;
	line-height: 41px;

	@media (max-width: 700px) {
		font-size: 26px;
		line-height: 30px;
	}
}

.work__list {
	padding: 0;
	max-width: 941px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	gap: 20px;
	row-gap: 50px;
	flex-wrap: wrap;
	list-style: none;

	@media (max-width: 1030px) {
		max-width: 630px;
	}

	@media (max-width: 900px) {
		justify-content: space-between;
	}

	@media (max-width: 700px) {
		justify-content: center;
	}
}
.work__point {
	display: flex;
	position: relative;
	padding-top: 44px;
	align-items: center;
	justify-content: center;
	max-width: 300px;

	@media (max-width: 700px) {
		max-width: 263px;
		margin: 0 auto;
		width: 100%;
	}
}

.work__position {
	font-weight: 700;
	min-width: 25px;
	font-size: 26px;
	line-height: 30px;
	color: $red;

	@media (max-width: 700px) {
		position: fixed;
		transform: scale(0);
	}
}

.work__text {
	margin: 0 0 0 4px;
	font-size: 16px;
	line-height: 18px;
}



.work__point--fifth {

	@media (max-width: 900px) {
		max-width: 650px;
		width: 100%;
	}
}

.work__point--first::before {
	content: "";
	position: absolute;
	left: 27%;
	top: 0;
	background-image: url(../img/svg/btn.svg);
	background-repeat: no-repeat;
	width: 155px;
	height: 37px;
}

.work__point--second::before {
	content: "";
	position: absolute;
    left: 45%;
	top: 0;
	background-image: url(../img/svg/manager.svg);
	background-repeat: no-repeat;
	width: 155px;
	height: 37px;
}

.work__point--third::before {
	content: "";
	position: absolute;
    left: 45%;
	top: 0;
	background-image: url(../img/svg/buy.svg);
	background-repeat: no-repeat;
	width: 155px;
	height: 37px;
}

.work__point--fourth::before {
	content: "";
	position: absolute;
    left: 45%;
	top: 0;
	background-image: url(../img/svg/order.svg);
	background-repeat: no-repeat;
	width: 155px;
	height: 37px;
}


.work__point--fifth::before {
	content: "";
	position: absolute;
    left: 45%;
	top: 0;
	background-image: url(../img/svg/hearts.svg);
	background-repeat: no-repeat;
	width: 155px;
	height: 37px;
}
