<header class="header @@if (context.mod) { header--@@mod }">
  <div class="header__wrapper">
    <a class="header__logo" @@if (!context.main) { href="main.html" } aria-label="Переход на главную">
      <img src="img/svg/logo.svg" alt="Логотип SweetCorp" width="100" height="88">
    </a>

    <nav class="main-nav">
      <button class="main-nav__toggle btn-reset" type="button" aria-label="Переключатель отображения меню"
        aria-pressed="false">
      </button>
      <div class="main-nav__wrapper">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a href="#catalog"
              class="main-nav__link @@if (context.headerActiveLinkIndex === 0) { main-nav__link--active }" @@if
              (context.headerActiveLinkIndex !==0) { href="#" }>Каталог подарков</a>
          </li>
          <li class="main-nav__item">
            <a href="#work" class="main-nav__link @@if (context.headerActiveLinkIndex === 1) { main-nav__link--active }"
              @@if (context.headerActiveLinkIndex !==1) { href="#" }>О компании</a>
          </li>
          <li class="main-nav__item">
            <a href="#delivery"
              class="main-nav__link @@if (context.headerActiveLinkIndex === 2) { main-nav__link--active }" @@if
              (context.headerActiveLinkIndex !==2) { href="#" }>Доставка и оплата</a>
          </li>
          <li class="main-nav__item">
            <a href="#map" class="main-nav__link @@if (context.headerActiveLinkIndex === 3) { main-nav__link--active }"
              @@if (context.headerActiveLinkIndex !==3) { href="#" }>Контакты</a>
          </li>
        </ul>
        <a href="tel:+74999388359" class="header__phone">
          +7 (499) 938 83-59
        </a>
      </div>
    </nav>
  </div>
</header>