<header class="header @@if (context.mod) { header--@@mod }">
  <div class="header__wrapper">
    <a class="header__logo" @@if (!context.main) { href="main.html" } aria-label="Переход на главную">
      <img src="img/svg/logo.svg" alt="Логотип SweetCorp" width="100" height="88">
    </a>

    <nav class="main-nav">
      <button class="main-nav__toggle btn-reset" type="button" aria-label="Переключатель отображения меню"
        aria-pressed="false">
        <svg width="27" height="21" viewBox="0 0 27 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1 0C0.447715 0 0 0.447715 0 1C0 1.55228 0.447715 2 1 2V0ZM26 2C26.5523 2 27 1.55228 27 1C27 0.447715 26.5523 0 26 0V2ZM1 2H26V0H1V2Z"
            fill="#DD4141" />
          <path
            d="M1 9.5C0.447715 9.5 0 9.94772 0 10.5C0 11.0523 0.447715 11.5 1 11.5V9.5ZM26 11.5C26.5523 11.5 27 11.0523 27 10.5C27 9.94772 26.5523 9.5 26 9.5V11.5ZM1 11.5H26V9.5H1V11.5Z"
            fill="#DD4141" />
          <path
            d="M1 19C0.447715 19 0 19.4477 0 20C0 20.5523 0.447715 21 1 21V19ZM26 21C26.5523 21 27 20.5523 27 20C27 19.4477 26.5523 19 26 19V21ZM1 21H26V19H1V21Z"
            fill="#DD4141" />
        </svg>
      </button>
      <div class="main-nav__wrapper">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 0) { main-nav__link--active }" @@if
              (context.headerActiveLinkIndex !==0) { href="#" }>Каталог подарков</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 1) { main-nav__link--active }" @@if
              (context.headerActiveLinkIndex !==1) { href="#" }>О компании</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 2) { main-nav__link--active }" @@if
              (context.headerActiveLinkIndex !==2) { href="#" }>Доставка и оплата</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 3) { main-nav__link--active }" @@if
              (context.headerActiveLinkIndex !==3) { href="#" }>Контакты</a>
          </li>
        </ul>
        <a href="tel:+74954764144" class="header__phone">
          +7 (495) 476 41-44
        </a>
      </div>
    </nav>
  </div>
</header>